In [1]:
import os
os.chdir("C:/securite")

In [2]:
import numpy

In [3]:
#lire l'entête du fichier
def en_tete(nomfichier):
    #ouvrir le fichier en lecture seule
    fin=open(nomfichier, "r")
    #lire la première ligne
    ligne=fin.readline()
    #splitter avec tabulation
    lstvar=ligne.split("\t")
    print(lstvar)
    #nombre de variables
    print(len(lstvar))
         #fermer
    fin.close()
         #pas de return

In [4]:
#nombre de lignes
def nb_lignes(nomfichier):
    fin=open(nomfichier, "r")
    #compteur
    i=0
    #boucler 
    for s in fin:
        i=i+1
    #fermer
    fin.close()
    #nombre de lignes sans l'en-tête
    return i-1

In [5]:
#extraction et éventuellement création du fichier restant
#source : fichier source
#sortie: fichier avec l'échantillon
#n :taille de l'échantillon
#N:taille de la source
def extraction(source, sortie, n,N):
    fin=open(source,"r")
    #fichier de sortie
    fout=open(sortie, "w")
    #entete
    s=fin.readline()
    fout.write(s)
    #compteur de verification
    cpt=0
    #boucler
    while(n>0):
        #lire la ligne
        s=fin.readline()
        #inclure dans la sortie ?
        if(N*numpy.random.rand() <=n):
            #oui
            fout.write(s)
            #un de moins à insérer
            n=n-1
            #incrémentation compteur
            cpt=cpt+1
        #une entrée a été traitée
        N=N-1
    #fin du tant que
    fin.close()
    fout.close()
    #return
    return cpt

In [6]:
#charger l'en-tête
en_tete("dataset_sujet.csv")

['ï»¿V1;V2;V3;V4;V5;V6;V7;V8;V9;V10;V11;V12;V13;V14;V15;V16;V17;V18;V19;V20;V21;V22;V23;V24;V25;V26;V27;V28;V29;V30;V31;V32;V33;V34;V35;V36;V37;V38;V39;V40;V41;V42;V43;V44;V45;V46;V47;V48;V49;V50;V51;V52;V53;V54;CLASSE\n']
1

In [7]:
#nombre de lignes
N=nb_lignes("dataset_sujet.csv")
print(N)

481012

In [8]:
#extraction au hasard de 100 000 observations dans train, idem pour le test#on fait au plus vite 
#sachant qu'il vaudrait mieux extraire 200 000 au hasard et splitter

#extraction et éventuellement création du fichier restant
#source : fichier source
#sortie: fichier avec l'échantillon
#n :taille de l'échantillon
#N:taille de la source
TRAIN= extraction("dataset_sujet.csv", "dataset_sujet_train.csv", 381012,481012)

In [9]:
TEST= extraction("dataset_sujet.csv", "dataset_sujet_test.csv", 100000,481012)

In [10]:
import pandas as pd
dftrain=pd.read_table("dataset_sujet_train.csv", sep=';',header=0)

In [11]:
dftest=pd.read_table("dataset_sujet_test.csv", sep=';',header=0)

In [12]:
print(dftrain.shape)

(381012, 55)

In [13]:
print(dftest.shape)

(100000, 55)

In [14]:
dftrain.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10
count,381012.000000,381012.000000,381012.000000,381012.000000,381012.000000,381012.000000,381012.000000,381012.000000,381012.000000,381012.000000
mean,2959.485518,155.726111,14.106852,269.291361,46.384720,2348.201049,212.141069,223.320386,142.534238,1979.662536
std,279.611114,111.924988,7.480694,212.593315,58.238198,1558.473985,26.800874,19.731453,38.266578,1322.562191
min,1859.000000,0.000000,0.000000,0.000000,-166.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2810.000000,58.000000,9.000000,108.000000,7.000000,1104.000000,198.000000,213.000000,119.000000,1024.000000
50%,2996.000000,127.000000,13.000000,218.000000,30.000000,1994.000000,218.000000,226.000000,143.000000,1710.000000
75%,3163.000000,261.000000,18.000000,384.000000,69.000000,3326.000000,231.000000,237.000000,168.000000,2550.000000
max,3858.000000,360.000000,66.000000,1390.000000,599.000000,7117.000000,254.000000,254.000000,254.000000,7172.000000

In [15]:
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 55 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V1      100000 non-null  int64
 1   V2      100000 non-null  int64
 2   V3      100000 non-null  int64
 3   V4      100000 non-null  int64
 4   V5      100000 non-null  int64
 5   V6      100000 non-null  int64
 6   V7      100000 non-null  int64
 7   V8      100000 non-null  int64
 8   V9      100000 non-null  int64
 9   V10     100000 non-null  int64
 10  V11     100000 non-null  object
 11  V12     100000 non-null  object
 12  V13     100000 non-null  object
 13  V14     100000 non-null  object
 14  V15     100000 non-null  object
 15  V16     100000 non-null  object
 16  V17     100000 non-null  object
 17  V18     100000 non-null  object
 18  V19     100000 non-null  object
 19  V20     100000 non-null  object
 20  V21     100000 non-null  object
 21  V22     100000 non-null  object
 22  V23     100000 non-null  object
 23  V24     100000 non-null  object
 24  V25     100000 non-null  object
 25  V26     100000 non-null  object
 26  V27     100000 non-null  object
 27  V28     100000 non-null  object
 28  V29     100000 non-null  object
 29  V30     100000 non-null  object
 30  V31     100000 non-null  object
 31  V32     100000 non-null  object
 32  V33     100000 non-null  object
 33  V34     100000 non-null  object
 34  V35     100000 non-null  object
 35  V36     100000 non-null  object
 36  V37     100000 non-null  object
 37  V38     100000 non-null  object
 38  V39     100000 non-null  object
 39  V40     100000 non-null  object
 40  V41     100000 non-null  object
 41  V42     100000 non-null  object
 42  V43     100000 non-null  object
 43  V44     100000 non-null  object
 44  V45     100000 non-null  object
 45  V46     100000 non-null  object
 46  V47     100000 non-null  object
 47  V48     100000 non-null  object
 48  V49     100000 non-null  object
 49  V50     100000 non-null  object
 50  V51     100000 non-null  object
 51  V52     100000 non-null  object
 52  V53     100000 non-null  object
 53  V54     100000 non-null  object
 54  CLASSE  100000 non-null  object
dtypes: int64(10), object(45)
memory usage: 42.0+ MB

In [16]:
#Calculer les proportions des classes
#proportion des classes
print(dftrain.CLASSE.value_counts()/dftrain.shape[0])

C2    0.487643
C3    0.364849
C5    0.061350
C4    0.035062
C6    0.029821
C1    0.016519
C7    0.004756
Name: CLASSE, dtype: float64

In [17]:
#proportion des classes
print(dftest.CLASSE.value_counts()/dftest.shape[0])

C2    0.48637
C3    0.36579
C5    0.06208
C4    0.03498
C6    0.02971
C1    0.01633
C7    0.00474
Name: CLASSE, dtype: float64

In [18]:
#get_dummies #One-hot encoding

#train
trainquali=dftrain.select_dtypes(include=['object'])
trainquali=pd.get_dummies(trainquali,drop_first=True, prefix='C')

#test
testquali=dftest.select_dtypes(include=['object'])
testquali=pd.get_dummies(testquali, drop_first=True,prefix='C')
print(trainquali.head())
print(trainquali.head())

   C_B  C_C  C_B  C_C  C_B  C_C  C_B  C_C  C_B  C_C  ...  C_B  C_C  C_B  C_C  \
0    0    0    1    0    1    0    1    0    1    0  ...    1    0    1    0
1    1    0    1    0    0    0    1    0    1    0  ...    1    0    0    1
2    1    0    1    0    0    0    0    1    1    0  ...    1    0    1    0
3    1    0    1    0    0    0    1    0    0    1  ...    1    0    1    0
4    1    0    1    0    0    0    1    0    0    1  ...    0    1    1    0

   C_C2  C_C3  C_C4  C_C5  C_C6  C_C7
0     1     0     0     0     0     0
1     0     1     0     0     0     0
2     0     0     0     0     0     0
3     0     1     0     0     0     0
4     1     0     0     0     0     0

[5 rows x 94 columns]
   C_B  C_C  C_B  C_C  C_B  C_C  C_B  C_C  C_B  C_C  ...  C_B  C_C  C_B  C_C  \
0    0    0    1    0    1    0    1    0    1    0  ...    1    0    1    0
1    1    0    1    0    0    0    1    0    1    0  ...    1    0    0    1
2    1    0    1    0    0    0    0    1    1    0  ...    1    0    1    0
3    1    0    1    0    0    0    1    0    0    1  ...    1    0    1    0
4    1    0    1    0    0    0    1    0    0    1  ...    0    1    1    0

   C_C2  C_C3  C_C4  C_C5  C_C6  C_C7
0     1     0     0     0     0     0
1     0     1     0     0     0     0
2     0     0     0     0     0     0
3     0     1     0     0     0     0
4     1     0     0     0     0     0

[5 rows x 94 columns]

In [19]:
#On reforme les datasets
dftrain2=pd.concat([dftrain,trainquali],axis=1, sort=False)
                 
#On reforme les datasets
dftest2=pd.concat([dftest,testquali],axis=1, sort=False)
print(dftrain.shape)
print(dftest.shape)

(381012, 55)
(100000, 55)

In [20]:
#Variables explicatives
xtrain=dftrain2.iloc[:,:-1]
xtrain.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,C_C,C_B,C_C,C_B,C_C,C_C2,C_C3,C_C4,C_C5,C_C6
0,2720,356,20,182,64,1766,184,201,151,1660,...,1,1,0,1,0,1,0,0,0,0
1,3080,55,9,124,8,1717,226,221,128,875,...,0,1,0,0,1,0,1,0,0,0
2,2797,74,13,30,6,1048,235,215,109,2165,...,0,1,0,1,0,0,0,0,0,0
3,2728,310,20,0,0,2227,161,222,199,335,...,0,1,0,1,0,0,1,0,0,0
4,2751,144,24,85,34,1356,245,227,96,1466,...,0,0,1,1,0,1,0,0,0,0

In [21]:
#Variables explicatives
xtest=dftest2.iloc[:,:-1]
xtest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 148 entries, V1 to C_C6
dtypes: int64(10), object(45), uint8(93)
memory usage: 50.8+ MB

In [22]:
#centrage-réduction

#xtrain
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

xtrain=scaler.fit_transform(xtrain.select_dtypes(include=['int']))
#xtest
xtest=scaler.transform(xtest.select_dtypes(include=['int']))

In [23]:
print(xtrain.shape)
print(xtest.shape)

(381012, 10)
(100000, 10)

In [24]:
#y
print(dftrain2['C_C7'])
print(dftest2['C_C7'])

0         0
1         0
2         0
3         0
4         0
         ..
381007    0
381008    0
381009    0
381010    0
381011    0
Name: C_C7, Length: 381012, dtype: uint8
0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: C_C7, Length: 100000, dtype: uint8

In [25]:
#****régression multinomiale
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(multi_class="multinomial",solver="newton-cg")

#apprentissage
%time lr.fit(xtrain, dftrain2.C_C7)

CPU times: total: 44.9 s
Wall time: 11.4 s

LogisticRegression(multi_class='multinomial', solver='newton-cg')

In [26]:
#vérification
pred=lr.predict(xtest)
#taux d'erreur
print(numpy.mean(dftest2.C_C7 != pred))

0.00542

In [27]:
print(pred)

[0 0 0 ... 0 0 0]

In [28]:
#fonction pour évaluation
def evaluation(modele,xtest):
    #prediction
    p = modele.predict(xtest)
    #taux d'erreur
    err = 1.0 - mt.accuracy_score(dftest2.C_C7,p)
    return err

In [29]:
#affichage des coefficients
print(lr.coef_)

[[-1.46545365  0.08824963 -0.17780637 -1.03576094  0.60329758  0.55549551
   0.52539223  0.23409263 -0.06705172  0.00305521]]

In [30]:
#probabilités d'affectation sur l'échantillon test
all_scores = lr.predict_proba(xtest)
print(all_scores[:5,:])

[[9.99782505e-01 2.17494519e-04]
 [9.99970600e-01 2.94004613e-05]
 [9.99999218e-01 7.81679805e-07]
 [9.99951037e-01 4.89630958e-05]
 [9.99994829e-01 5.17145724e-06]]

In [31]:
#Grid search et évaluation avec auc
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import auc
#paramètre de régularisation C à tester
parametres = [{'C':[0.1,0.5,1,2.5,5,10,50]}]

#instanciation
grid = GridSearchCV(estimator=lr,param_grid=parametres,scoring='roc_auc',cv=2)

grid.fit(xtrain, dftrain2.C_C7)

GridSearchCV(cv=2,
             estimator=LogisticRegression(multi_class='multinomial',
                                          solver='newton-cg'),
             param_grid=[{'C': [0.1, 0.5, 1, 2.5, 5, 10, 50]}],
             scoring='roc_auc')

In [32]:
#meilleur paramètre
print(grid.best_params_)

{'C': 0.1}

In [33]:
#meilleur score
print(grid.best_score_)

0.9890351157543242

In [35]:
#meilleur présentation
import pandas
resultats = pandas.DataFrame.from_dict(grid.cv_results_)
print(resultats[['params','mean_test_score']])

       params  mean_test_score
0  {'C': 0.1}         0.989035
1  {'C': 0.5}         0.988449
2    {'C': 1}         0.988356
3  {'C': 2.5}         0.988297
4    {'C': 5}         0.988277
5   {'C': 10}         0.988267
6   {'C': 50}         0.988258

In [36]:
#****régression multinomiale avec les paramètres conseillés
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(multi_class="multinomial",solver="newton-cg", C=0.1)

#apprentissage
%time lr.fit(xtrain, dftrain2.C_C7)

CPU times: total: 45.5 s
Wall time: 11.6 s

LogisticRegression(C=0.1, multi_class='multinomial', solver='newton-cg')

In [37]:
#vérification
pred2=lr.predict(xtest)
#taux d'erreur
print(numpy.mean(dftest2.C_C7 != pred2))

0.00539